:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --base-font-size: 16px;
  --line-height: 1.5;
  --font-weight: 400;
  
  --color-text: #E5E5E5;  
  --background-color: #242424;  
  --accent-color: #1e88e5; 
  --border-color: #333; 
  
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  
  color-scheme: dark light;
  color: var(--color-text);
  background-color: var(--background-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light Mode Override */
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #212121; 
    --background-color: #f9f9f9; 
    --accent-color: #1e88e5; 
    --border-color: #ddd; 
  }
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
